
*{
    font-family: Arial;
}

h1{
    text-align: center;
}

td{
    text-align: center;
    padding: 2px;
}

footer{
    margin-top: 50px;
    text-align: center
}

#pedidos{
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}

#container{
    display: flex;
    justify-content: space-around
}

section h3{
    text-align: center
}
