
*{
    font-family: Arial;
}

h1{
    text-align: center;
}

td{
    text-align: center;
    padding: 2px;
}

footer{
    margin: 25px;
    text-align: center
}

#pedidos{
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}
